<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :nameFirst %><br />
    <%= f.text_field :nameFirst %>
  </div>
  <div class="field">
    <%= f.label :nameMiddle %><br />
    <%= f.text_field :nameMiddle %>
  </div>
  <div class="field">
    <%= f.label :nameLast %><br />
    <%= f.text_field :nameLast %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :zipCode %><br />
    <%= f.text_field :zipCode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
