<h1>Youpon - Prototype 3</h1>
<p>Home page placeholder</p>
<p>These links are for testing purposes.</p>
<table>
<tr>
	<td><%= link_to "Users", users_path %></td>
	<td><%= link_to "Merchants", merchants_path %></td>
	<td><%= link_to "Offers", offers_path %></td>
	<td><%= link_to "Redemptions", redemptions_path %></td>
</tr>
<tr>
	<td><%= link_to "Customers", customers_path %></td>
	<td><%= link_to "Employees", employees_path %></td>
	<td><%= link_to "Managers", managers_path %></td>
	<td><%= link_to "Rosters", rosters_path %></td>
</tr>
	<td><%= link_to "Validations", validations_path %></td>
</tr>
</table>	