<%= form_for(@validation) do |f| %>
  <% if @validation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@validation.errors.count, "error") %> prohibited this redemption from being saved:</h2>

      <ul>
      <% @validation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offer_id %><br />
    <%= f.text_field :offer_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
